
<!DOCTYPE html>
<html>
    <head>
            <link href="/angular-material/angular-material.css" rel="stylesheet"/>
            <linkh ref="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous"/>
            <style>
                .hover01 {
                    -webkit-transform: scale(1);
                    transform: scale(1);
                    -webkit-transition: .3s ease-in-out;
                    transition: .3s ease-in-out;
                }
                .hover01:hover {
                    -webkit-transform: scale(1.3);
                    transform: scale(1.3);
                }
            </style>
    </head>
<body ng-app="reportApp" ng-controller="reportController as report">

    <h1>First Training Data Used</h1>
    
    <div style="min-width:100%">
    <% for(var i=0; i<50; i++) {%>
            <div>
                <% for(var x=0; x<35; x++) {%>
                    <object width=64 height=64 class="hover01"  ng-click="report.showDialog($event, 'xmap_<%= x %>_<%= i %>.tif')"
                        data="C:\Users\juanc\Documents\CNN\Art-CNN\original_train\xmap_<%= x %>_<%= i %>.tif" type="image/tiff">
                        <param name="src" value="tiffdocument.tif">
                        <param name="negative" value="yes">
                    </object>
                        <!-- <img width=64 height=64 src="C:\Users\juanc\Documents\CNN\Art-CNN\original_train\xmap_0_<%= i %>.tif" alt=""> -->
                <% } %>
            </div>
        <% } %>
    </div>
    <md-content class="md-padding"  layout="row" flex layout-fill>
          <md-card>
               
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Action buttons</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <p>
                The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
              </p>
              <p>
                The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
              </p>
              <p>
                The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
              </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
              <md-button>Action 1</md-button>
              <md-button>Action 2</md-button>
            </md-card-actions>
          </md-card>

    <script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js'></script>
    <script type='text/javascript' src='/scripts/angular-animate/angular-animate.js'></script>
    <script type='text/javascript' src='/scripts/angular-aria/angular-aria.js'></script>   
    <script type='text/javascript' src="/angular-material/angular-material.js"></script>
    <script type='text/javascript' src="/public/app/app.js"></script>
    <script type='text/javascript' src="/public/app/controllers/reportController.js"></script>
    <script type='text/javascript' src="/public/app/controllers/reportController.js"></script>
</body>
</html>